[cluster]
max_replica = 3
nodes = node1 node2
root = ~/cicada/data
incoming = incoming
storage = storage
backup = backup
http_port = 
ifcmd = 
ifdata = 

[node1]
ifcmd = 
ifdata = 
ip = 
hostname =
api_key =
root = ~/cicada/data
incoming = incoming
storage = storage
backup = backup
http_port = 

[node2]
ifcmd = 
ifdata = 
ip = 
hostname = 
api_key =
root = ~/cicada/data
incoming = incoming
storage = storage
backup = backup
http_port = 
