[cluster]
max_replica = 3
nodes = node1 node2
root = ~/cicada/data
incoming_path = incoming
storage_path = storage
backup_path = backup
http_port = 
ifcmd = 
ifdata = 

[node1]
cmdif =
dataif =
cmdip =
dataip =
api_key =
root = ~/cicada/data
incoming_path = incoming
storage_path = storage
backup_path = backup
http_port = 

[node2]
cmdif =
dataif =
cmdip =
dataip =
api_key =
root = ~/cicada/data
incoming_path = incoming
storage_path = storage
backup_path = backup
http_port = 
